* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inconsolata", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #474747;                   
  background: #f7f7f7;
  height: 100vh;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 6.8rem;
  padding: 6.4rem;
}

.nav__list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.2rem;
}

.nav__list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.1rem 2.6133rem 0.1rem 2.9347rem;
  border: 1px solid #fff;
  font-size: 1.6em;
  line-height: 290.749%; 
  letter-spacing: 2.833px;
  text-decoration: none;
}

.about-me {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9rem;
}

.about-me__img {
  max-height: 48rem;
}
